# **If Else Conditional Statements**

In [ ]:
a=int(input())
print(a)
b=int(input())
print(b)
if a>b:
  print(f"{a} is greater than {b}")
else:
  print(f"{a} is less than {b}")

print("\n")

10
10
30
30
10 is less than 30

**Indentation**
* Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
a = 33
b = 200
if b > a:
#print("b is big")  # gives indentation error
  print("b is big")

b is big

**Elif**

In [ ]:
a=int(input())
b=int(input())
if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equal to b")
else:
  print("a is less than b")

print("\n")

30
30
a is equal to b

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
  print("a is big")
elif b>c:
  print("b is  big")
else:
  print("c is big")

print("\n")

30
50
10
b is  big

**Ternary operator**

In [ ]:
print("a is big") if a>b and a>c  else print("b is big") if b>c else print("c is big")

b is big

**Elif**

In [ ]:
a=int(input())
if a<0:
  print("number is negative")
elif a==0:
  print("number is zero")
elif a==30:
  print("My number")
else:
  print("number is positive")

print("\n")

30
My number

**Short Hand If**
* If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
a=30
b=20
if a>b: print("a is big")

a is big

**Short Hand If ... Else**
* If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a=20
b=30
print("a is big") if a>b else print("b is big")

b is big

**Logical Operators**

**and**

In [ ]:
a=2
if a>0 and a==1:                        # and logical operator both conditions should be true
  print("hii")
else:
  print("bye")

bye

**or**

In [ ]:
a=2
if a>0 or a==1:                         # or logical operator atleast one of the condition should be true
  print("hii")
else:
  print("bye")

hii

**not**

In [ ]:
a=2
if(not a):                          # not logical operator will reverse the result of the conditional statements
  print(f"{not a}")
else:
  print(f"{not a}")

print("\n")


a=0
if(not a):
  print(f"{not a}")
else:
  print(f"{not a}")

False


True

**Nested If**
* You can have if statements inside if statements, this is called nested if statements.

In [ ]:
a=100
if a>0:
  print(f"number {a} is greater than 0")
  if a==30:
    print(f"number {a} is equal than 30")
  elif a==50:
      print(f"number {a} is equal to 50")
  else:
      print(f"number {a} is greater than 50")
else:
  print(f"number {a} is less than 0")

number 100 is greater than 0
number 100 is greater than 50

**The pass Statement**
* if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [1]:
a=20
if a==20:
  pass
print("Pass Statement")

print("\n")

Pass Statement

#**Match Case Statement**

*  Python match statements were introduced in python 3.10 and it is providing a great user experience, good readability, and cleanliness in the code

* Match-Case is the Switch Case of Python which was introduced in Python 3.10. Here we have to first pass a parameter then try to check with which case the parameter is getting satisfied. If we find a match we will do something and if there is no match at all we will do something else.


parameter = "xxxxxxxxx"

match parameter:

	case first :
		do_something(first)

	case second :
		do_something(second)

	case third :
		do_something(third)
		.............
		............
	case n :
		do_something(n)


	case _ :                           #default case
		nothing_matched_function()

In [5]:
def add():
  b=int(input())
  c=int(input())
  sum=b+c
  print(sum)

def sub():
  b=int(input())
  c=int(input())
  s=b-c
  print(abs(s))

def mul():
  b=int(input())
  c=int(input())
  s=b*c
  print(s)



a=int(input("Enter your choice : \n 1.addition \n 2.subtraction \n 3.multiply\n "))
match a :
  case 1:
    add()

  case 2:
    sub()

  case 3:
    mul()

  case _:
    print("Invalid input")


print("\n")

Enter your choice :
 1.addition
 2.subtraction
 3.multiply
 2
20
90
70