#**Python Dictionaries**

* Dictionaries are used to store data values in key:value pairs.

* A dictionary is a collection which is ordered, changeable and do not allow duplicates.

* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

* Dictionaries are written with curly brackets, and have keys and values.

In [15]:
dict={'name':'happy','age': 22,'phno':9876054321}
print(dict)
print(type(dict))
print(len(dict))

print('\n')

dict={1:"hii",2:"hello",3:"bye"}
print(dict)
print(type(dict))
print(len(dict))

print('\n')

dict={}       # Empty dictionary
print(dict)

{'name': 'happy', 'age': 22, 'phno': 9876054321}
<class 'dict'>
3


{1: 'hii', 2: 'hello', 3: 'bye'}
<class 'dict'>
3


{}

* **Duplicates Not Allowed**

In [8]:
dict={'name':'happy','age': 22,'phno':9876054321,'age':23}  #Dictionaries cannot have two items with the same key
print(dict)                                                 #Duplicate values will overwrite existing values

dict={1:"hii",2:"hello",2:"bye"}
print(dict)

{'name': 'happy', 'age': 23, 'phno': 9876054321}
{1: 'hii', 2: 'bye'}

#**Accessing Dictionary items**

In [21]:
di={1:"apple",2:"banana",3:"cherry",4:"date","name":"Happy"}
print(di)

# Accessing single values

print(di[1])
print(di[2])
print(di[3])
print(di[4])
print(di["name"])
# print(di[5])               # If the key doesn't exist then it will throw an error

print('\n')

print(di.get(1))             # we can also use get() method for accessing the values.
print(di.get(2))
print(di.get(3))
print(di.get(4))
print(di.get("name"))
print(di.get(5))              # If the key doesn't exist in dictionary than it gives none as output

print('\n')

# Accessing mutiple values


print(di.keys())              # we can print all the keys in the dictionary using keys() method
print(di.values())            # we can print all the values in the dictionary using values() method

print('\n')


for i in di:                    # we can only print keys by using this for loop
  print(i)

for key in di.keys():           # we can only print keys by using this for loop
  print(key)


print('\n')


for key in di.keys():            # we can print values by using this for loop
  print(di[key])


print("\n")


for i in di.keys():
  print(f"the value corresponding to the key {key} is {di[key]}")


print("\n")


# Accessing key -value pairs


print(di.items())               # we can print key value pairs in the dictionary using items() method

for key,value in di.items():
  print(f"The value corresponding to the key {key} is {value}")

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'date', 'name': 'Happy'}
apple
banana
cherry
date
Happy


apple
banana
cherry
date
Happy
None


dict_keys([1, 2, 3, 4, 'name'])
dict_values(['apple', 'banana', 'cherry', 'date', 'Happy'])


1
2
3
4
name
1
2
3
4
name


apple
banana
cherry
date
Happy


the value corresponding to the key name is Happy
the value corresponding to the key name is Happy
the value corresponding to the key name is Happy
the value corresponding to the key name is Happy
the value corresponding to the key name is Happy


dict_items([(1, 'apple'), (2, 'banana'), (3, 'cherry'), (4, 'date'), ('name', 'Happy')])
The value corresponding to the key 1 is apple
The value corresponding to the key 2 is banana
The value corresponding to the key 3 is cherry
The value corresponding to the key 4 is date
The value corresponding to the key name is Happy

# **Python Dictionary Methods**

* **update() -> Updates the dictionary with the specified key-value pairs.**

In [53]:
di={"name":"Happy","age":22,"city":"Hyderabad"}
print(di)

print("\n")

di.update({"rollno":30})           # adding new entry into dictionary
print(di)

print("\n")

di.update({1:"Good"})               # adding new entry into dictionary
print(di)

print("\n")

di.update({1:"Bad"})                # updating new value to the existing key into dictionary
print(di)

print('\n')

di.update({'age':21})                # updating new value to the existing key into dictionary
print(di)

print("\n")

di1={1:"Good",2:"Excellent"}
print(di1)
di.update(di1)                        # adding new key value pairs from other dictionary to existing dictionary
print(di)

{'name': 'Happy', 'age': 22, 'city': 'Hyderabad'}


{'name': 'Happy', 'age': 22, 'city': 'Hyderabad', 'rollno': 30}


{'name': 'Happy', 'age': 22, 'city': 'Hyderabad', 'rollno': 30, 1: 'Good'}


{'name': 'Happy', 'age': 22, 'city': 'Hyderabad', 'rollno': 30, 1: 'Bad'}


{'name': 'Happy', 'age': 21, 'city': 'Hyderabad', 'rollno': 30, 1: 'Bad'}


{1: 'Good', 2: 'Excellent'}
{'name': 'Happy', 'age': 21, 'city': 'Hyderabad', 'rollno': 30, 1: 'Good', 2: 'Excellent'}

* **clear() -> The clear() method removes all the items from dictionary.**

In [54]:
di={"name":"Happy","age":22,"city":"Hyderabad"}
print(di)
di.clear()
print(di)

{'name': 'Happy', 'age': 22, 'city': 'Hyderabad'}
{}

* **pop() -> The pop() method removes the key=value pair whose key is passed as parameter.**

In [60]:
di={"name":"Happy","age":22,"city":"Hyderabad",1:"Good"}
print(di)

print('\n')

di.pop("age")
print(di)

print('\n')

di.pop(1)
print(di)

{'name': 'Happy', 'age': 22, 'city': 'Hyderabad', 1: 'Good'}


{'name': 'Happy', 'city': 'Hyderabad', 1: 'Good'}


{'name': 'Happy', 'city': 'Hyderabad'}

* **popitem() -> The popitem() method removes the last key-value pair from the dictionary.**

In [61]:
di={"name":"Happy","age":22,"city":"Hyderabad",1:"Good"}
print(di)

print("\n")

di.popitem()
print(di)

print("\n")

di.popitem()
print(di)

{'name': 'Happy', 'age': 22, 'city': 'Hyderabad', 1: 'Good'}


{'name': 'Happy', 'age': 22, 'city': 'Hyderabad'}


{'name': 'Happy', 'age': 22}

* **del -> We can also use del keyword to remove a dictionary item.**
* **If key is not provided, then the del keyword will delete the dictionary entirely.**

In [65]:
di={"name":"Happy","age":22,"city":"Hyderabad",1:"Good"}
print(di)

print('\n')

del di[1]
print(di)

print("\n")

# del di                         # delete the entire dictionary
# print(di)

{'name': 'Happy', 'age': 22, 'city': 'Hyderabad', 1: 'Good'}


{'name': 'Happy', 'age': 22, 'city': 'Hyderabad'}

 **The below methods are discussed in Accessing Dictionary items section**

* get()     -> 	Returns the value of the specified key.
* keys()	  ->  Returns a list containing the dictionary's keys.
* values()  ->  Returns a list of all the values in the dictionary.
* items() 	->  Returns a list containing a tuple for each key value pair.