# **Python Lists**

* **List is a sequence datatype in python.**
* **List is a  ordered collection of items of different datatypes.**
* **List is enclosed within [] square brackets.**
* **lists are mutable This means we can change an item in a list by accessing it directly as part of the assignment statement. Using the indexing operator (square brackets) on the left side of an assignment, we can update one of the list items.**

In [ ]:
li=[10,20,30,4.5,"happy",[60,70,80,"good"]]
print(li)
print(type(li))
li[3]=40   # list are mutable we can change the elements of the list
print(li)
print("length of list is" ,len(li))

[10, 20, 30, 4.5, 'happy', [60, 70, 80, 'good']]
<class 'list'>
[10, 20, 30, 40, 'happy', [60, 70, 80, 'good']]
length of list is 6

#**Accessing List items**

In [ ]:
li=[10,20,30,40,"happy",3.4,5.2,["good",'bad',4,2,6,9.8]]
print(li)

print('\n')

#Accessing list item using index number.index number starts from zero

print(li[0]) # print first element of the list
print(li[1])
print(li[2])
print(li[3])
print(li[4])
print(li[5])
print(li[6])
print(li[7])  # print last element of the list

print(li[7][0])
print(li[7][1])
print(li[7][2])
print(li[7][3])
print(li[7][4])
print(li[7][5])

print("\n")
#Accessing elements using for loop

for i in li:
  print(i)

[10, 20, 30, 40, 'happy', 3.4, 5.2, ['good', 'bad', 4, 2, 6, 9.8]]


10
20
30
40
happy
3.4
5.2
['good', 'bad', 4, 2, 6, 9.8]
good
bad
4
2
6
9.8


10
20
30
40
happy
3.4
5.2
['good', 'bad', 4, 2, 6, 9.8]

In [ ]:
li=[10,20,30,40,"happy",3.4,5.2,["good",'bad',4,2,6,7.3]]
print(li)

print('\n')

#Accessing list items using negative index and index start with -1 from last element

print(li[-1]) # print last element of list (or) li[len of list-1] = li[8-1] = li[7]
print(li[-2])
print(li[-3])
print(li[-4])
print(li[-5])
print(li[-6])
print(li[-7])
print(li[-8]) # print first element of the list

print('\n')

print(li[-1][-6]) # print last element i.e new list in that it prints the first element
print(li[-1][-5])
print(li[-1][-4])
print(li[-1][-3])
print(li[-1][-2])
print(li[-1][-1]) # print last element i.e new list in that it prints the last element

[10, 20, 30, 40, 'happy', 3.4, 5.2, ['good', 'bad', 4, 2, 6, 7.3]]


['good', 'bad', 4, 2, 6, 7.3]
5.2
3.4
happy
40
30
20
10


good
bad
4
2
6
7.3

# **List Slicing**

In [ ]:
li=[10,20,30,40,"happy",3.4,5.2,["good",'bad',4,2,6,9.8]]
print(li)
print(li[0:8])  # li[m:n] -> print items from index m to index n-1 here it is m=0,n=8 so it prints items from index 0 to index 7
print('\n')

print(li[0:1])
print(li[1:2])
print(li[2:3])
print(li[3:4])
print(li[4:5])
print(li[5:6])
print(li[6:7])
print(li[7:8])

print('\n')

print(li[:])   # by default it takes starting index as 0 and ending index as length of the list it becomes li[0:length of list] and print items from index 0 to length of list -1
print(li[0:])
print(li[:8])

print('\n')

print(li[-3:-1])
print(li[-1:])
print(li[-2:-1])

[10, 20, 30, 40, 'happy', 3.4, 5.2, ['good', 'bad', 4, 2, 6, 9.8]]
[10, 20, 30, 40, 'happy', 3.4, 5.2, ['good', 'bad', 4, 2, 6, 9.8]]


[10]
[20]
[30]
[40]
['happy']
[3.4]
[5.2]
[['good', 'bad', 4, 2, 6, 9.8]]


[10, 20, 30, 40, 'happy', 3.4, 5.2, ['good', 'bad', 4, 2, 6, 9.8]]
[10, 20, 30, 40, 'happy', 3.4, 5.2, ['good', 'bad', 4, 2, 6, 9.8]]
[10, 20, 30, 40, 'happy', 3.4, 5.2, ['good', 'bad', 4, 2, 6, 9.8]]


[3.4, 5.2]
[['good', 'bad', 4, 2, 6, 9.8]]
[5.2]

* **Reverse of list**

In [ ]:
print(li[::-1])   # reverse of list

print("\n")

print(li[::2])    #  print alternate items of list  #jumpindex

print("\n")

print(li[::3])    #  print every 3rd consecutive values  #jumpindex

print("\n")

print(li[::-2])   #  print alternate items of reverse list

[[1, 2, 3, 4], 2.3, 'good', 'happy', 30, 20, 10]


[10, 30, 'good', [1, 2, 3, 4]]


[10, 'happy', [1, 2, 3, 4]]


[[1, 2, 3, 4], 'good', 30, 10]

* **Reverse of list using reverse()**

In [ ]:
li=[10,20,30]
li.reverse()   #it will make the list reverse and store the result in it only so here we cannot access our previous not reversed list.for getting our previous list back we need to reverse the list again
print(li)
print(li[0])
li.reverse()
print(li)
print(li[0])

[30, 20, 10]
30
[10, 20, 30]
10

* **Check whether an item is present in the list?**

In [ ]:
li=[10,20,30,"happy","good",2.3,[1,2,3,4]]
print(li)

print('\n')


# 1. We can directly pass value in if statement


if 10 in li:                 # check whether 10 is present in list or not
  print("yes")
else:
  print("no")


print('\n')



#2. We can modify above code by giving value through user input so that we can check any value.


#a=input()                   # its only work with strings to work with other datatype we need to typecast


a=int(input())               # It works with integer values
if a in li:                  # check whether the value of a is present in list or not
  print("yes")
else:
  print("no")


print("\n")



#3. We can use this code when we know the value


a=30                      # we can directly pass the value to a it works in the case when you know the value
if a in li:               # check whether a value is present in list or not
  print("yes")
else:
  print("no")


print("\n")


#4. We can modify above code by making a function of if and else code so that whenever we want to check any value we just need to call that function


def check(a):             # Whenever we want to check the item present in list or not then simply  call this function
  if a in li:
    print("yes")
  else:
    print("no")
  return


a=[1,2,3,4]
check(a)


a="good"
check(a)

a=20
check(a)

[10, 20, 30, 'happy', 'good', 2.3, [1, 2, 3, 4]]


yes


10
yes


yes


yes
yes
yes

**List Comprehension**

* List Comprehension provide a concise way to create lists
* List Comprehensions are used for creating new lists from iterables like lists,tuple,dictionaries,sets and even in strings
* Syntax is : List = [Expression(item) for item in iterable if Condition]

In [ ]:
li=[i for i in range(10)]
print(li)


li=[i for i in range(10) if (i%2==0)]
print(li)


li=[i for i in range(11) if i%2==0]
print(li)

print('\n')


li=['good','bad','happy','sad']
print(li)
li1=[i for i in li if 'a' in i]
print(li1)
li2=[i for i in li if len(i)<4]
print(li2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]


['good', 'bad', 'happy', 'sad']
['bad', 'happy', 'sad']
['bad', 'sad']

#**List Method**

* **append() -> append() method appends an element to the end of the list.**

In [94]:
li=[10,20,30,40]
print(li)
li.append(50)
print(li)
li.append(60)
print(li)

print('\n')

li=['apple','ball','cat']
print(li)
li.append('dog')
print(li)
li.append('egg')
print(li)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]


['apple', 'ball', 'cat']
['apple', 'ball', 'cat', 'dog']
['apple', 'ball', 'cat', 'dog', 'egg']

* **sort() -> The sort() method sorts the list ascending by default.**
* **list.sort(reverse=True) will sort the list descending. Default is reverse=False.**

In [99]:
li=[20,30,10,90,60,75,64,36]
print(li)
li.sort()
print(li)
li.sort(reverse=True)
print(li)

print("\n")

li=['banana','apple','mango','orange','watermelon','gauva','custardapple','papaya']
print(li)
li.sort()
print(li)
li.sort(reverse=True)
print(li)

[20, 30, 10, 90, 60, 75, 64, 36]
[10, 20, 30, 36, 60, 64, 75, 90]
[90, 75, 64, 60, 36, 30, 20, 10]


['banana', 'apple', 'mango', 'orange', 'watermelon', 'gauva', 'custardapple', 'papaya']
['apple', 'banana', 'custardapple', 'gauva', 'mango', 'orange', 'papaya', 'watermelon']
['watermelon', 'papaya', 'orange', 'mango', 'gauva', 'custardapple', 'banana', 'apple']

* **reverse() -> This method reverse the order of list.**

In [103]:
li=[10,20,30,"hi","bye"]
print(li)
li.reverse()
print(li)
li.reverse()
print(li)

[10, 20, 30, 'hi', 'bye']
['bye', 'hi', 30, 20, 10]
[10, 20, 30, 'hi', 'bye']

* **index() -> This method returns the index of the first occurence of the list item.**

In [111]:
li=[10,20,30,40,"hii","bye",[1,2,3]]
print(li.index(20))
print(li.index("bye"))
print(li.index([1,2,3]))
print(li.index(40))
#print(li.index(50))         # throws error

1
5
6
3

* **count() -> Returns the count of the numbers of items with the given value.**

In [118]:
li=[1,2,1,4,1,5,3,6,5,2,3,6,1,5,6,3,2,5,7,9,7,5,8,3,1]
print(li)
print(li.count(1))
print(li.count(2))
print(li.count(3))
print(li.count(4))
print(li.count(5))
print(li.count(6))
print(li.count(7))
print(li.count(8))
print(li.count(9))

print('\n')

li=['apple','mango','orange','banana','papaya','apple','banana']
print(li)
print(li.count('apple'))
print(li.count('banana'))
print(li.count('mango'))
print(li.count('orange'))
print(li.count('papaya'))

[1, 2, 1, 4, 1, 5, 3, 6, 5, 2, 3, 6, 1, 5, 6, 3, 2, 5, 7, 9, 7, 5, 8, 3, 1]
5
3
4
1
5
3
2
1
1


['apple', 'mango', 'orange', 'banana', 'papaya', 'apple', 'banana']
2
2
1
1
1

*  **copy() -> Returns copy of the list.This can be done to perform operations on the list without modifying the orginal list.**

In [120]:
li=[10,20,30,40,50]
print(li)
copy=li.copy()
copy[0]=5
print(copy)
print(li)

print('\n')

li=['apple','bat','cat','dog']
print(li)
copy=li.copy()
copy[1]='ball'
print(copy)
print(li)

[10, 20, 30, 40, 50]
[5, 20, 30, 40, 50]
[10, 20, 30, 40, 50]


['apple', 'bat', 'cat', 'dog']
['apple', 'ball', 'cat', 'dog']
['apple', 'bat', 'cat', 'dog']

* **insert() -> This method inserts the item at the given index.User has to specify index and item to be inserted within the insert method.**

In [124]:
li=[10,30,40,50]
print(li)
li.insert(1,20)
print(li)

print("\n")

li=['apple','ball','cat','egg','fan']
print(li)
li.insert(3,'dog')
print(li)
li.insert(6,'goat')
print(li)

[10, 30, 40, 50]
[10, 20, 30, 40, 50]


['apple', 'ball', 'cat', 'egg', 'fan']
['apple', 'ball', 'cat', 'dog', 'egg', 'fan']
['apple', 'ball', 'cat', 'dog', 'egg', 'fan', 'goat']

* **extend() -> This method adds an entire list or any other collection datatype(set,tuple,dictionary) to the existing list.**

In [128]:
li=[10,20,30,"Hi","Bye",[1,2,3,4]]
print(li)
li1=[40,50,60,"Good","Bad"]
print(li1)
li.extend(li1)
print(li)
li1.extend(li)
print(li1)

[10, 20, 30, 'Hi', 'Bye', [1, 2, 3, 4]]
[40, 50, 60, 'Good', 'Bad']
[10, 20, 30, 'Hi', 'Bye', [1, 2, 3, 4], 40, 50, 60, 'Good', 'Bad']
[40, 50, 60, 'Good', 'Bad', 10, 20, 30, 'Hi', 'Bye', [1, 2, 3, 4], 40, 50, 60, 'Good', 'Bad']

* **pop() -> The pop() method removes the element at the specified position.**

In [130]:
li=[10,20,30,"hi","bye"]
print(li)
li.pop(2)
print(li)
li.pop(3)
print(li)

[10, 20, 30, 'hi', 'bye']
[10, 20, 'hi', 'bye']
[10, 20, 'hi']

* **remove -> The remove() method removes the first occurrence of the element with the specified value.**

In [134]:
li=[10,20,30,20,'hi','bye','hi',20,10]
print(li)
li.remove(20)
print(li)
li.remove('hi')
print(li)
li.remove(10)
print(li)

[10, 20, 30, 20, 'hi', 'bye', 'hi', 20, 10]
[10, 30, 20, 'hi', 'bye', 'hi', 20, 10]
[10, 30, 20, 'bye', 'hi', 20, 10]
[30, 20, 'bye', 'hi', 20, 10]

* **clear() -> The clear() method removes all the elements from a list.**

In [135]:
li=[10,20,30,4.5,'hi','bye']
print(li)
li.clear()
print(li)

[10, 20, 30, 4.5, 'hi', 'bye']
[]

* **Concatenating two lists -> You can simply concatenate two lists using "+"**

In [141]:
li=[1,2,3,4]
print(li)
li1=[5,6,7]
print(li1)
print(li+li1)
li2=[8,9]
print(li+li1+li2)

[1, 2, 3, 4]
[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]