# **Loops in Python**

#**For Loops in Python**

* Python For loop is used for sequential traversal i.e. it is used for iterating over an iterable like String, Tuple, List, Set, or Dictionary.

* for var in iterable:
     
     statements

**range()**
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
* range(start, stop, step)
* start-optional   Default is 0
* stop- required   if n is stop point then it will stop at n-1
* step- optional   Default is 1

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

**For Loop -> String**

In [ ]:
s="Happy"
print(s)

print("\n")

for i in s:
  print(i)

print("\n")

for i in s:
  print(i,end=",")

print("\n")

Happy


H
a
p
p
y


H,a,p,p,y,

**For Loop -> List**

In [ ]:
li=[10,20,30,"Good",[1,2,3],(4,5),{1:"A",2:"B"},{6,7,8}]
print(li)

for i in li:
  print(i)

print("\n")

[10, 20, 30, 'Good', [1, 2, 3], (4, 5), {1: 'A', 2: 'B'}, {8, 6, 7}]
10
20
30
Good
[1, 2, 3]
(4, 5)
{1: 'A', 2: 'B'}
{8, 6, 7}

**For Loop -> Tuple**

In [ ]:
tu=(1,2,"Hi",[5,10])
print(tu)

for i in tu:
  print(i)

print("\n")

(1, 2, 'Hi', [5, 10])
1
2
Hi
[5, 10]

**For Loop -> Sets**

In [ ]:
s={1,2,3,4,"Hi",(2,4,6)}
print(s)

for i in s:
  print(i)

{1, 2, 3, 4, (2, 4, 6), 'Hi'}
1
2
3
4
(2, 4, 6)
Hi

**For Loop -> Dictionary**

In [ ]:
di={1:"a",2:"b",3:"c"}
print(di)

for i in di:
  print(i,":", di[i])


print("\n")


for key,value in di.items():
  print(key,value)

{1: 'a', 2: 'b', 3: 'c'}
1 : a
2 : b
3 : c


1 a
2 b
3 c

**The pass Statement**
* for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for i in "hello":
  pass

print("\n")

**Nested Loops**
* A nested loop is a loop inside a loop.

In [ ]:
for i in range(1,6):
  print("\n")
  print(f"Table {i}")
  for j in range(1,11):
    print(f"{i}*{j}=",i*j)

print("\n")

Table 1
1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
1*6= 6
1*7= 7
1*8= 8
1*9= 9
1*10= 10


Table 2
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20


Table 3
3*1= 3
3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
3*7= 21
3*8= 24
3*9= 27
3*10= 30


Table 4
4*1= 4
4*2= 8
4*3= 12
4*4= 16
4*5= 20
4*6= 24
4*7= 28
4*8= 32
4*9= 36
4*10= 40


Table 5
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

**for loop with zip()**
* The below code uses the zip() function to iterate over two lists in parallel. The for loop assigns the corresponding elements of both lists to the variables in each iteration inside loop.

* The output will display each item from the list 1  along with its corresponding item from list 2.

In [ ]:
l1=["Tasty","Delicious"]
l2=["Desserts","Icecreams"]
print(l1)
print(l2)
print("\n")

for i,j in zip(l1,l2):
    print(f"{i} {j}")

print("\n")

['Tasty', 'Delicious']
['Desserts', 'Icecreams']


Tasty Desserts
Delicious Icecreams

In [ ]:
l1=["Tasty","Delicious"]
l2=["Desserts","Icecreams"]

for i in l1:
  for j in l2:
    print("\n")
    print(f"{i} {j}")

print("\n")

Tasty Desserts


Tasty Icecreams


Delicious Desserts


Delicious Icecreams

**for Loop with else**
* In Python we can use else with the for and while loop too.
* The statement of else block will be executed only if the for loop has completed successfully. If it is terminated like using break statement before succesfully completion of loop then else block will not execute.

In [2]:
for i in range(1,6):
  print(i)
else:
  print("Else Block Executed")

1
2
3
4
5
Else Block Executed

In [3]:
for i in "Hello":
  print(i)
  if i=="o":
    break
else:
  print("else block will not execute")

H
e
l
l
o

In [8]:
li=[1,2,3,4,5,7,8]
for i in li:
  print(i)
  if i==5:
    break
else:
  print("else block will not execute")

print("\n")

1
2
3
4
5

#**While Loops in Python**

In [33]:
n=int(input())
i=1
s=0
while(i<=n):
  print(i)
  i=i+1
  s=s+i
print("sum is",s)

print("\n")

5
1
2
3
4
5
sum is 20

In [34]:
n=int(input())
i=1
f=1
while(i<=n):
  print(i)
  f=f*i
  i=i+1

print(f"factorial of {n} is" ,f)

print("\n")

5
1
2
3
4
5
factorial of 5 is 120

In [35]:
i=5
f=1
while(i>0):
  print(i)
  f=f*i
  i=i-1

print("factorial using decrementing loop",f)

print("\n")

5
4
3
2
1
factorial using decrementing loop 120

In [30]:
i=int(input("Enter the Number "))
while(i<=30):
  i=int(input("Enter the Number "))
  if i==30:
    print("Special Number is 30")

print("done with the loop")

Enter the Number 10
Enter the Number 15
Enter the Number 20
Enter the Number 30
Special Number is 30
Enter the Number 40
done with the loop

**Else with While Loop**
* We can use the else statement with the while loop.

In [41]:
i=1
while(i<=5):
  print(i)
  i=i+1

else:
  print("Else Block")

print("\n")

1
2
3
4
5
Else Block

In [42]:
i=1
while(i<=5):
  print(i)
  i=i+1
  if(i==5):
    break

else:
  print("Else Block")

print("\n")

1
2
3
4