# **Loops in Python**

#**For Loops in Python**

* Python For loop is used for sequential traversal i.e. it is used for iterating over an iterable like String, Tuple, List, Set, or Dictionary.

* for var in iterable:
     
     statements

**range()**
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
* range(start, stop, step)
* start-optional   Default is 0
* stop- required   if n is stop point then it will stop at n-1
* step- optional   Default is 1

In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

In [5]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

**For Loop -> String**

In [30]:
s="Happy"
print(s)

print("\n")

for i in s:
  print(i)

print("\n")

for i in s:
  print(i,end=",")

print("\n")

Happy


H
a
p
p
y


H,a,p,p,y,

**For Loop -> List**

In [31]:
li=[10,20,30,"Good",[1,2,3],(4,5),{1:"A",2:"B"},{6,7,8}]
print(li)

for i in li:
  print(i)

print("\n")

[10, 20, 30, 'Good', [1, 2, 3], (4, 5), {1: 'A', 2: 'B'}, {8, 6, 7}]
10
20
30
Good
[1, 2, 3]
(4, 5)
{1: 'A', 2: 'B'}
{8, 6, 7}

**For Loop -> Tuple**

In [33]:
tu=(1,2,"Hi",[5,10])
print(tu)

for i in tu:
  print(i)

print("\n")

(1, 2, 'Hi', [5, 10])
1
2
Hi
[5, 10]

**For Loop -> Sets**

In [32]:
s={1,2,3,4,"Hi",(2,4,6)}
print(s)

for i in s:
  print(i)

{1, 2, 3, 4, (2, 4, 6), 'Hi'}
1
2
3
4
(2, 4, 6)
Hi

**For Loop -> Dictionary**

In [44]:
di={1:"a",2:"b",3:"c"}
print(di)

for i in di:
  print(i,":", di[i])


print("\n")


for key,value in di.items():
  print(key,value)

{1: 'a', 2: 'b', 3: 'c'}
1 : a
2 : b
3 : c


1 a
2 b
3 c

**The pass Statement**
* for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [50]:
for i in "hello":
  pass

print("\n")

**Nested Loops**
* A nested loop is a loop inside a loop.

In [60]:
for i in range(1,6):
  print("\n")
  print(f"Table {i}")
  for j in range(1,11):
    print(f"{i}*{j}=",i*j)

print("\n")

Table 1
1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
1*6= 6
1*7= 7
1*8= 8
1*9= 9
1*10= 10


Table 2
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20


Table 3
3*1= 3
3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
3*7= 21
3*8= 24
3*9= 27
3*10= 30


Table 4
4*1= 4
4*2= 8
4*3= 12
4*4= 16
4*5= 20
4*6= 24
4*7= 28
4*8= 32
4*9= 36
4*10= 40


Table 5
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

**for loop with zip()**
* The below code uses the zip() function to iterate over two lists in parallel. The for loop assigns the corresponding elements of both lists to the variables in each iteration inside loop.

* The output will display each item from the list 1  along with its corresponding item from list 2.

In [72]:
l1=["Tasty","Delicious"]
l2=["Desserts","Icecreams"]
print(l1)
print(l2)
print("\n")

for i,j in zip(l1,l2):
    print(f"{i} {j}")

print("\n")

['Tasty', 'Delicious']
['Desserts', 'Icecreams']


Tasty Desserts
Delicious Icecreams

In [76]:
l1=["Tasty","Delicious"]
l2=["Desserts","Icecreams"]

for i in l1:
  for j in l2:
    print("\n")
    print(f"{i} {j}")

print("\n")

Tasty Desserts


Tasty Icecreams


Delicious Desserts


Delicious Icecreams