# **Python Sets**

* Sets are unordered collection of data items.
* Sets are used to store multiple items in a single variable.
* Sets are written with curly brackets.
* Set items are unordered, unchangeable, and do not allow duplicate values.
*  Sets are unordered, so you cannot be sure in which order the items will appear and cannot be referred to by index or key.
* Once a set is created, you cannot change its items, but you can remove items and add new items.
* In Sets Duplicate values will be ignored.

In [48]:
s={1,2,4,7,9,5,3,6,8}
print(s)
print(len(s))
print(type(s))

print('\n')

s={"apple","mango","banana","orange"}
print(s)
print(len(s))
print(type(s))
print("\n")

{1, 2, 3, 4, 5, 6, 7, 8, 9}
9
<class 'set'>


{'apple', 'mango', 'orange', 'banana'}
4
<class 'set'>

* **Duplicates Not Allowed**

In [46]:
s={1,3,2,5,2,3,1,9,4,5,2,6,7,1,2,9,3,4,6}
print(s)

print("\n")

s={"ab","xb","ki","ab","pw","rs","za"}
print(s)

print('\n')

s={"Good",True,False,2,5,"Happy",9.3,"Happy",3,2,5}
print(s)

print("\n")

s={"apple", "banana", "cherry", True, 1, 2}   #True and 1 considered as same value
print(s)

print("\n")

{1, 2, 3, 4, 5, 6, 7, 9}


{'ki', 'ab', 'pw', 'za', 'rs', 'xb'}


{'Good', True, 2, 3, False, 5, 9.3, 'Happy'}


{True, 2, 'apple', 'cherry', 'banana'}

* **Empty Set**

In [50]:
s={}                    # It is not Empty set.It is Empty dictionary.
print(s)
print(type(s))

print("\n")

s=set()                 # By using set() we can make Empty set
print(s)
print(type(s))

print("\n")

{}
<class 'dict'>


set()
<class 'set'>

# **Accessing set items**

In [63]:
s={"Good",10,True,6,3,7,9.5,"Happy"}
# print(s)

for item in s:
  print(item)

print("\n")

Good
True
3
6
7
9.5
10
Happy