# **Python Sets**

* Sets are unordered collection of data items.
* Sets are used to store multiple items in a single variable.
* Sets are written with curly brackets.
* Set items are unordered, unchangeable, and do not allow duplicate values.
*  Sets are unordered, so you cannot be sure in which order the items will appear and cannot be referred to by index or key.
* Once a set is created, you cannot change its items, but you can remove items and add new items.
* In Sets Duplicate values will be ignored.

In [ ]:
s={1,2,4,7,9,5,3,6,8}
print(s)
print(len(s))
print(type(s))

print('\n')

s={"apple","mango","banana","orange"}
print(s)
print(len(s))
print(type(s))
print("\n")

{1, 2, 3, 4, 5, 6, 7, 8, 9}
9
<class 'set'>


{'apple', 'mango', 'orange', 'banana'}
4
<class 'set'>

* **Duplicates Not Allowed**

In [ ]:
s={1,3,2,5,2,3,1,9,4,5,2,6,7,1,2,9,3,4,6}
print(s)

print("\n")

s={"ab","xb","ki","ab","pw","rs","za"}
print(s)

print('\n')

s={"Good",True,False,2,5,"Happy",9.3,"Happy",3,2,5}
print(s)

print("\n")

s={"apple", "banana", "cherry", True, 1, 2}   #True and 1 considered as same value
print(s)

print("\n")

{1, 2, 3, 4, 5, 6, 7, 9}


{'ki', 'ab', 'pw', 'za', 'rs', 'xb'}


{'Good', True, 2, 3, False, 5, 9.3, 'Happy'}


{True, 2, 'apple', 'cherry', 'banana'}

* **Empty Set**

In [ ]:
s={}                    # It is not Empty set.It is Empty dictionary.
print(s)
print(type(s))

print("\n")

s=set()                 # By using set() we can make Empty set
print(s)
print(type(s))

print("\n")

{}
<class 'dict'>


set()
<class 'set'>

# **Accessing set items**

In [ ]:
s={"Good",10,True,6,3,7,9.5,"Happy"}
# print(s)

for item in s:
  print(item)

print("\n")

Good
True
3
6
7
9.5
10
Happy

# **Set Methods in Python**

**union() and update()**
* The union() and update() methods print all items that are present in the two sets.
* The union() method returns a new set whereas update() method adds item into the existing set from another set.

In [ ]:
s1={1,3,5,7,9}
s2={8,5,4,3,2,}
print(s1.union(s2))

print("\n")

s1.update(s2)
print(s1)


print('\n')


s1={"apple","mango"}
s2={"orange","apple"}
print(s1.union(s2))

print("\n")

s1.update(s2)
print(s1)

print("\n")

{1, 2, 3, 4, 5, 7, 8, 9}


{1, 2, 3, 4, 5, 7, 8, 9}


{'orange', 'apple', 'mango'}


{'orange', 'apple', 'mango'}

**intersection() and intersection_update()**
* intersection() and intersection_update() method prints only items that are similar to both the sets.
* The intersection() method returns a new set whereas intersection_update method updates into the existing set from another set.

In [9]:
s1={1,4,5,6,3,9}
s2={6,3,4,9,2,8}
s3=s1.intersection(s2)
print(s3)

print("\n")

s1.intersection_update(s2)
print(s1)

print("\n")

s1={"apple","mango"}
s2={"orange","apple"}
s1.intersection_update(s2)
print(s1)

print("\n")

{9, 3, 4, 6}


{9, 3, 4, 6}


{'apple'}

**symmetric_difference() and symmetric_difference_update()**
* symmetric_difference() and symmetric_difference_update() prints only items that are not similar to both the sets.
* The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another set.

In [10]:
s1={1,4,5,6,3,9}
s2={6,3,4,9,2,8}
s3=s1.symmetric_difference(s2)
print(s3)

print("\n")

s1.symmetric_difference_update(s2)
print(s1)

print("\n")

s1={"apple","mango"}
s2={"orange","apple"}
s1.symmetric_difference_update(s2)
print(s1)

print("\n")

{1, 2, 5, 8}


{1, 2, 5, 8}


{'orange', 'mango'}

**difference() and difference_update()**
* difference() and difference_update() methods print only items that are only present in the original set and not in both sets.
* The difference() method returns a new set whereas difference_update() method updates into the existing set from another set.

In [14]:
s1={1,4,5,6,3,9}
s2={6,3,4,9,2,8}
s3=s1.difference(s2)
print(s3)
s4=s2.difference(s1)
print(s4)

print('\n')

s1={"apple","mango"}
s2={"orange","apple"}
s1.difference_update(s2)
print(s1)
s2.difference_update(s1)
print(s2)

{1, 5}
{8, 2}


{'mango'}
{'orange', 'apple'}

**isdisjoint()**
* The isdisjoint() methods check if items of given set are present in another set.
* This method returns False if items are present,else it returns True.

In [5]:
s1={2,4,8,6}
s2={1,5,3,7,6}
print(s1.isdisjoint(s2))


print("\n")


s1={2,4,8,6}
s2={1,5,3,7}
print(s1.isdisjoint(s2))

print("\n")

s1={"apple","mango"}
s2={"banana","orange"}
print(s1.isdisjoint(s2))

print("\n")

False


True


True

**issuperset()**
* THe superset() method checks if all the items of a particular set are present in the orginal set.It returns True if all the items are present else returns False.

In [8]:
s1={2,4,8,6,1,5,3,7,9}
s2={1,5,3,7,6}
print(s1.issuperset(s2))

print('\n')

s1={"apple","banana","mango","orange"}
s2={"banana","orange"}
print(s1.issuperset(s2))

print("\n")

True


True

**issubset()**
* The issubset() method checks if all the items of orginal set are present in the particular set.It returns True if all items are present else it returns False.

In [11]:
s1={"apple","banana","mango","orange"}
s2={"banana","orange"}
print(s2.issubset(s1))

print("\n")

s1={1,7,3}
s2={1,5,3,7,6}
print(s1.issubset(s2))

print('\n')

True


True

**add()**
* If you want to add a single item to the set use the add() method.

In [13]:
s={"apple","banana","mango","orange"}
s.add("pineapple")
print(s)

print("\n")

s={2,5,4,6,3}
s.add(1)
print(s)

print("\n")

{'orange', 'banana', 'mango', 'apple', 'pineapple'}


{1, 2, 3, 4, 5, 6}

**update()**
* If you want to add more than one item ,simply create another set or any other iterable objects(list,tuple,dictionary) and use the update() method to add it into the existing set.

In [19]:
s={1,4,3,6,7}
s1={8,2,5,9}
s.update(s1)
print(s)

print("\n")

s={1,4,2,3}
s1=[8,5,7,6]
s.update(s1)
print(s)

print("\n")

s={"apple","mango"}
s1=("orange",'banana')
s.update(s1)
print(s)

print("\n")

{1, 2, 3, 4, 5, 6, 7, 8, 9}


{1, 2, 3, 4, 5, 6, 7, 8}


{'apple', 'banana', 'mango', 'orange'}

**remove()/discard()**
* We can use remove() and discard() methods to remove items from set.
* The main difference between remove() and discard() is that if we try to delete an item which is not present in set then remove() raises an error whereas discard() does not raise any error.

In [30]:
s={1,4,7,5,2,6,3}
print(s)
s.remove(1)
print(s)
#s.remove(9)                 # remove() gives error if the given item is not present in set

print("\n")

s={"apple","mango","orange","banana"}
print(s)
s.discard("mango")
print(s)
s.discard("cherry")          # discard() will not give any error if the given item is not present in set

print("\n")

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}


{'apple', 'banana', 'mango', 'orange'}
{'apple', 'banana', 'orange'}

**pop()**
* The method removes the last item of the set but the catch is that we dont know which items gets popped as sets are unordered.
* However you can acess the popped item if you assign the pop() method to a variable.

In [38]:
s={2,5,3,7,4,6}
print(s)
item=s.pop()
print(f"popped item is {item}")
print(s)

print("\n")

s={"apple","banana","mango","orange","cherry"}
print(s)
item=s.pop()
print(f"popped item is {item}")
print(s)

print("\n")

{2, 3, 4, 5, 6, 7}
popped item is 2
{3, 4, 5, 6, 7}


{'apple', 'orange', 'banana', 'cherry', 'mango'}
popped item is apple
{'orange', 'banana', 'cherry', 'mango'}

**del()**
* del is not a method, rather it is keyword which delete the set entirely.

In [42]:
s={2,4,3,1}
del s
# print(s)

print("\n")

* What if we dont want to delete the entire set, we just want to delete all items within the set? we use clear().

 **clear()** -> This method clears all items in the set and prints an empty set.

In [43]:
s={2,4,3,1}
s.clear()
print(s)

print("\n")

set()

**Check if item exists**
* You can also check if item exists in the set or not

In [44]:
s={2,4,"Hi",True,9,5,6.2}
print(s)

print("\n")

a=2
if a in s:
  print(f"The item {a} is present")
else:
  print(f"The item {a} is not present")

print("\n")

{'Hi', True, 2, 4, 5, 6.2, 9}


The item 2 is present