# **Strings in Python**

 * Anything that you enclose between single or double quotation marks considered as String.
 * A String is a  sequence data type in Python that represents a sequence of characters.  
 *  It is an immutable data type, meaning that once you have created a string, you cannot change it.

In [12]:
print("Hello")
print('Hello')
a="My Name is String"
print(a)
a=input()
print(a)
print(type(a))

Hello
Hello
My Name is String
Good Boy
Good Boy
<class 'str'>

* **Multiline Strings**

In [10]:
a="""Good Morning
How are you
tell me about yourself
thank you"""
print(a)

Good Morning
How are you
tell me about yourself
thank you

#**Accessing Characters in Python**

In [26]:
a="String"
print(a)

#Acessing characters using index(index starts with zero from first element)

print(a[0]) # print first character
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
#print(a[6]) # throws error
print("\n")

#Accessing characters using for loop

for i in a:
  print(i)

print("\n")

#Accessing characters using negative index (negative index will start from -1 from last element)

a="College"
print(a[-1])   # print last element
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])   # print first element

print("\n")

print(a[-7])   # print first element
print(a[-6])
print(a[-5])
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])   # print last element


# a[2]='r' # error because strings are immutable

String
S
t
r
i
n
g


S
t
r
i
n
g


e
g
e
l
l
o
C


C
o
l
l
e
g
e

# **String Slicing**

In [41]:
a="Happy"

print(a[0:5])     #   a[m:n] print characters from  index m to n-1 index -> here m is 0 and n is 5 and here it prints characters from index 0 to index 4
print(a[0:1])
print(a[0:2])
print(a[0:3])
print(a[0:4])
print(a[0:5])
print(a[0:1])     #  a[m:n] -> a[0:1] print characters from index 0 to index n-1(1-1=0)  here it print character of index 0
print(a[1:2])
print(a[2:3])
print(a[3:4])
print(a[4:5])

print(a[:])       #   a[:] -> By default it takes starting index(m) as 0 and n-1 as (length of string-1) i.e a[:] becomes a[0:(length of string-1)]

print(a[0:])      #   a[0:]  it becomes a[0:(length of string-1)]

print(a[:5])      #   a[:5]  it becomes a[0:5]

print(a[0:-1])    #   a[0:-1] it prints characters from index 0 to index -2(last 2nd character)

print(a[-3:-2])   #   a[-3:-2] it prints characters from index -3 to index -3 is it prints third character

print(a[-4:-1])   #   print characters from index -4 to index -2

Happy
H
Ha
Hap
Happ
Happy
H
a
p
p
y
Happy
Happy
Happy
Happ
p
app

# **Python String Methods**

* **len() -> Length of string**

In [44]:
a=input()
print(len(a))
b="Happy"
print(b)
print(len(b))

Good
4
Happy
5

* **upper() -> Convert string character into upper case**

In [50]:
a="upper"
print(a)
print(a.upper())
b=input()
print(b.upper())

upper
UPPER
upper case
UPPER CASE

* **lower() -> Convert string characters into lower case**

In [51]:
a="LOWER"
print(a)
print(a.lower())
b=input()
print(b.lower())

LOWER
lower
LOWER CASE
lower case

* **rstrip() -> removes any trailing characters from end**

In [58]:
a="Hello!!!!!!!@@@!#!"
print(a)
print(a.rstrip("!@#"))
b=input()
print(b.rstrip("!@#$%^&*-+"))

Hello!!!!!!!@@@!#!
Hello
Hello!#@$%&^*+-
Hello

* **lstrip() -> removes any trailing characters from begining**

In [59]:
a="!!!!Hello"
print(a)
print(a.lstrip("!"))
b=",,.!@Hello"
print(b)
print(a.lstrip(".,!@"))

!!!!Hello
Hello
,,.!@Hello
Hello

* **replace("Old string","New string") -> replaces the old string with new string**

In [61]:
a="Bad boy"
print(a)
print(a.replace("Bad","Good"))
b=input()
print(b.replace("Icecream","Chocolates"))

Bad boy
Good boy
I like Icecream so much.once in a day i eat Icecream.It is my favourite.
I like Chocolates so much.once in a day i eat Chocolates.It is my favourite.

* **count() -> returns the number of times the given value occured with in the string**

In [65]:
a="Happiness"
print(a)
print(a.count("p"))
b="My name is happy.iam happy and like happy happy biscuit and my happy birthday is today."
print(b)
print(b.count("happy"))

Happiness
2
My name is happy.iam happy and like happy happy biscuit and my happy birthday is today.
5

* **find() -> searches for the first occurence of the given value and returns the index where it is present.If the given value is absent from string return -1**

In [68]:
a="Happy Birthday to you"
print(a)
print(a.find("t"))
print(a.find("e"))
b=input()
print(b.find("happy"))

Happy Birthday to you
9
-1
My name is happy and today is my happy birthday
11

* **index() -> similar to find() method  returns the index where it is present.If the given value is absent from string then throws error**

In [73]:
a="Happy Birthday to you"
print(a)
print(a.index("t"))
# print(a.index("e"))   # throws error because we are using index() method
b=input()
print(b.index("happy"))

Happy Birthday to you
9
happy is happy
0

 * **swapcase() -> convert uppercase to lowercase or convert lowercase to upppercase**

In [75]:
a="good"
print(a)
print(a.swapcase())
b="BAD"
print(b)
print(b.swapcase())

good
GOOD
BAD
bad

* **capitalize() -> turns only first character of the string to uppercase and rest other characters of the strings turned into lower case**

In [78]:
a="large"
print(a)
print(a.capitalize())
b=input()
print(b.capitalize())

large
Large
happiNEss Is EVERything
Happiness is everything

* **title() -> capitalize each letter of the word within the string**

In [79]:
a="good boy"
print(a)
print(a.title())
b=input()
print(b.title())

good boy
Good Boy
hapPIness is everyThing
Happiness Is Everything

* **startswith() -> checks if the string starts with a given value or not.if yes then return true else return false**

In [86]:
a="iam good boy"
print(a)
print(a.startswith("i"))
print(a.startswith("iam"))
print(a.startswith("a"))
b=input()
print(b.startswith("happiness"))
print(b.startswith("happy"))

iam good boy
True
True
False
happiness is everything
True
False

* **endswith() -> checks if the string ends with a given value or not.if yes then return true else return false**

In [88]:
a="iam good boy"
print(a)
print(a.endswith("y"))
print(a.endswith("oy"))
print(a.endswith("boy"))
b=input()
print(b.endswith("thing"))
print(b.endswith("think"))

iam good boy
True
True
True
happiness is everything
True
False

* **center() -> method aligns the string to the center per parameter given by the user**

In [95]:
a="Happy Birthday"
print(a)
print(a.center(120))
print(a.center(200))

Happy Birthday
                                                     Happy Birthday
                                                                                             Happy Birthday


* **isalnum()   ->	Returns True if all characters in the string are alphanumeric(A-Z,a-z,0-9)**

* **isalpha()  ->	Returns True if all characters in the string are in the alphabet**
* **isascii()	  -> Returns True if all characters in the string are ascii characters**
* **isdigit()	 -> Returns True if all characters in the string are digits**
* **islower()	 -> Returns True if all characters in the string are lower case**
* **isupper()	 -> Returns True if all characters in the string are upper case**
* **istitle()	 -> Returns True if the string follows the rules of a title**

In [111]:
a="aqw23gA"
print(a)
print(a.isalnum())
b="Abcdeff"
print(b)
print(b.isalpha())
c="Abcdef#@"
print(c)
print(c.isascii())
d="3124"
print(d)
print(d.isdigit())
e="hii"
print(e)
print(e.islower())
f="HII"
print(f)
print(f.isupper())
g="Happiness Is Everything"
print(g)
print(g.istitle())

aqw23gA
True
Abcdeff
True
Abcdef#@
True
3124
True
hii
True
HII
True
Happiness Is Everything
True

**Reverse Of String**
* **Here is no built-in function to reverse a String in Python.**

* **The fastest (and easiest?) way is to use a slice that steps backwards, -1.**

In [126]:
a="String"
print(a[::-1])  # print reverse of string

print(a[::1])
print(a[::2])   # print alternate characters as it is 2
print(a[::3])
print(a[::-2])  # print alternate characters in reverse

gnirtS
String
Srn
Si
git