# **Tuples in Python**

* Tuples are used to store multiple items in a single variable.

* Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

* Tuple items are ordered, unchangeable (immutable), and allow duplicate values.
* Tuples are written with round brackets.

In [93]:
tu=(10,20,30)
print(tu)

print('\n')

tu=("apple","mango","orange")
print(tu)

print("\n")

tu=([1,2,3],[4,5,6],{1:"good"})
print(tu)

print("\n")

(10, 20, 30)


('apple', 'mango', 'orange')


([1, 2, 3], [4, 5, 6], {1: 'good'})

In [102]:
tu=(10,20,30,"Good",[1,2,3],{1:"Happy",2:"Sad"},(1,2,3))
print(tu)
print(type(tu),tu)
print("Length of tuple is :",len(tu))

print("\n")

tu=(1)
print(tu)                        # If we give only one tuple item as (1) it recognize it as int type
print(type(tu),tu)

print('\n')

tu=(1,)                          # If you are giving only one item in tuple so always use , after the item is (1,)
print(tu)
print(type(tu),tu)

print("\n")

tu=("hello",)                    # If you are giving only one item in tuple so always use , after the item is ("hello",)
print(tu)
print(type(tu),tu)


print('\n')

(10, 20, 30, 'Good', [1, 2, 3], {1: 'Happy', 2: 'Sad'}, (1, 2, 3))
<class 'tuple'> (10, 20, 30, 'Good', [1, 2, 3], {1: 'Happy', 2: 'Sad'}, (1, 2, 3))
Length of tuple is : 7


1
<class 'int'> 1


(1,)
<class 'tuple'> (1,)


('hello',)
<class 'tuple'> ('hello',)

**Tuples are immutable(unchangeable)**

In [91]:
tu=(1,2,3,"good",[10,20],{1:"happy",2:"sad"},(5,6))
print(tu)
# tu[0]=10                # we cannot change tuple items

print('\n')

(1, 2, 3, 'good', [10, 20], {1: 'happy', 2: 'sad'}, (5, 6))

**Tuples allow duplicate values**

In [90]:
tu=(1,2,3,"good",4,2,1,"good",[10,20],(1,5),[10,20])
print(tu)

print("\n")

(1, 2, 3, 'good', 4, 2, 1, 'good', [10, 20], (1, 5), [10, 20])

# **Accessing Values in Python Tuples**

In [89]:
tu=(1,2,3,"good",4,5,[10,20],(1,5),{1:"happy",2:"sad"},True)
print(tu)

print("\n")

print(tu[0])
print(tu[1])
print(tu[2])
print(tu[3])
print(tu[4])
print(tu[5])
print(tu[6])
print(tu[6][0])
print(tu[6][1])
print(tu[7])
print(tu[7][0])
print(tu[7][1])
print(tu[8])
print(tu[8][1])
print(tu[8][2])
print(tu[9])

print("\n")

for i in tu:
  print(i)


print("\n")

# Accessing tuple items using negative index


print(tu[-10])
print(tu[-9])                      # print last item of tuple
print(tu[-8])
print(tu[-7])
print(tu[-6])
print(tu[-5])
print(tu[-4])
print(tu[-3])
print(tu[-2])
print(tu[-1])                      # print first time of tuple


print("\n")

(1, 2, 3, 'good', 4, 5, [10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)


1
2
3
good
4
5
[10, 20]
10
20
(1, 5)
1
5
{1: 'happy', 2: 'sad'}
happy
sad
True


1
2
3
good
4
5
[10, 20]
(1, 5)
{1: 'happy', 2: 'sad'}
True


1
2
3
good
4
5
[10, 20]
(1, 5)
{1: 'happy', 2: 'sad'}
True

* **Check whether an item is present in the list?**

In [88]:
tu=(1,2,3,"good",4,5,[10,20],(1,5),{1:"happy",2:"sad"},True)
print(tu)

print("\n")

if 4 in tu:
  print("Yes")
else:
  print("No")


print("\n")


a=True
if a in tu:
  print("Yes")
else:
  print("No")

print("\n")


def present(a):
  if a in tu:
    print(f"Yes {a} is present")
  else:
    print(f"No {a} is not present")

a=1
present(a)

a=3
present(a)

a=6
present(a)

print('\n')

(1, 2, 3, 'good', 4, 5, [10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)


Yes


Yes


Yes 1 is present
Yes 3 is present
No 6 is not present

# **Slicing Tuples in Python**

In [87]:
tu=(1,2,3,"good",4,5,[10,20],(1,5),{1:"happy",2:"sad"},True)
print(tu)

print("\n")

print("Tuple Slicing")
print(tu[:])
print(tu[0:])
print(tu[:11])
print(tu[0:1])
print(tu[1:5])
print(tu[6:11])

print("\n")

print("Tuple Slicing using Negative Index")
print(tu[-9:-4])
print(tu[-3:-1])


print("\n")

print("Jump Index")

print("\n")

print(tu[::])

print("\n")

print(tu[::-1])       # reverse of the tuple

print("\n")

print(tu[::-2])        # print alternate items of reverse tuple

print("\n")

print(tu[::2])        # print alternate items of tuple #jumpindex

print("\n")

print(tu[::3])        # print every 3rd consecutive value #jumpindex

print('\n')

(1, 2, 3, 'good', 4, 5, [10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)


Tuple Slicing
(1, 2, 3, 'good', 4, 5, [10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)
(1, 2, 3, 'good', 4, 5, [10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)
(1, 2, 3, 'good', 4, 5, [10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)
(1,)
(2, 3, 'good', 4)
([10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)


Tuple Slicing using Negative Index
(2, 3, 'good', 4, 5)
((1, 5), {1: 'happy', 2: 'sad'})


Jump Index


(1, 2, 3, 'good', 4, 5, [10, 20], (1, 5), {1: 'happy', 2: 'sad'}, True)


(True, {1: 'happy', 2: 'sad'}, (1, 5), [10, 20], 5, 4, 'good', 3, 2, 1)


(True, (1, 5), 5, 'good', 2)


(1, 3, 4, [10, 20], {1: 'happy', 2: 'sad'})


(1, 'good', [10, 20], True)

* **Converting a List to a Tuple and viceversa**

In [58]:
li=[10,20,30,"hii",True,(2,4,6),[1,3,5]]
print("List:")
print(li)
print(type(li))

print("\n")

print("Tuple:")
tu=(tuple(li))              #  converting list datatype into tuple datatype
print(tu)
print(type(tu))


print("\n")


tu=(1,2,3,5,[10,20],(3,6,9))
print("Tuple:")
print(tu)
print(type(tu))

print("\n")

print("List:")
li=list(tu)                  # converting tuple datatype into list datatype
print(li)
print(type(li))

List:
[10, 20, 30, 'hii', True, (2, 4, 6), [1, 3, 5]]
<class 'list'>


Tuple:
(10, 20, 30, 'hii', True, (2, 4, 6), [1, 3, 5])
<class 'tuple'>


Tuple:
(1, 2, 3, 5, [10, 20], (3, 6, 9))
<class 'tuple'>


List:
[1, 2, 3, 5, [10, 20], (3, 6, 9)]
<class 'list'>

#**Python Tuple Methods**

* As tuple is immutable so we cannot make any changes in tuple directly.
* We need to convert tuple into list using list() method and make changes in list(the changes which you want in tuple). after making changes in list again  the list into tuple using tuple() method.

In [64]:
tu=(1,2,3,5,6,7,[10,20],(1,2),"hi")
print("Tuple:")
print(tu)
print(type(tu))


print("\n")

print("List:")
li=list(tu)
print(li)
print(type(li))

print("\n")
print("Making Changes in list:")
li.pop(8)
li.insert(3,4)
li.remove([10,20])
li.append("Happy")


print("\n")
print("After Making Changes in List:")
print(li)

print("\n")
print(" Modified Tuple:")
tu=tuple(li)
print(tu)

print("\n")

Tuple:
(1, 2, 3, 5, 6, 7, [10, 20], (1, 2), 'hi')
<class 'tuple'>


List:
[1, 2, 3, 5, 6, 7, [10, 20], (1, 2), 'hi']
<class 'list'>


Making Changes in list:


After Making Changes in List:
[1, 2, 3, 4, 5, 6, 7, (1, 2), 'Happy']


 Modified Tuple:
(1, 2, 3, 4, 5, 6, 7, (1, 2), 'Happy')

* **Concatenating Of Tuple**

* Concatenation of tuple is the process of joining two or more Tuples.
* Concatenation is done by the use of ‘+’ operator.

In [86]:
tu1=(1,2,3,4,"Happy",[1,2],(5,6))
print('tuple 1 :')
print(tu1)

print("\n")

tu2=(5,6,7,8,"Good",[3,4])
print('tuple 2:')
print(tu2)

print("\n")

tu3=tu1+tu2                       # Concatenating two tuples and storing result in new tuple
print("New tuple 3:")
print(tu3)

print("\n")

tu4=(9,10)
print("tuple 4: ")
print(tu4)

print('\n')

tup=tu3+tu4                       # Cocatenating two tuples and storing result in new tuple
print("Resultant tuple:")
print(tup)

print("\n")

tuple 1 :
(1, 2, 3, 4, 'Happy', [1, 2], (5, 6))


tuple 2:
(5, 6, 7, 8, 'Good', [3, 4])


New tuple 3:
(1, 2, 3, 4, 'Happy', [1, 2], (5, 6), 5, 6, 7, 8, 'Good', [3, 4])


tuple 4:
(9, 10)


Resultant tuple:
(1, 2, 3, 4, 'Happy', [1, 2], (5, 6), 5, 6, 7, 8, 'Good', [3, 4], 9, 10)

* **count() -> The count() method of tuple returns the number of times the given element appears in the tuple**

In [96]:
tu=(1,2,3,5,[10,20],(3,6,9),2,[10,20],1,1,2,1)
print(tu)
print("Count of 2 is :",tu.count(2))
print("Count of 1 is :",tu.count(1))
print("Count of [10,20] is :",tu.count([10,20]))
print("Count of 5 is :",tu.count(5))

print("\n")

(1, 2, 3, 5, [10, 20], (3, 6, 9), 2, [10, 20], 1, 1, 2, 1)
Count of 2 is : 3
Count of 1 is : 4
Count of [10,20] is : 2
Count of 5 is : 1

* **index() -> The index() method returns the first occurence of the given element from the tuple and this method raises a ValueError if the element not found in the tuple.**

In [101]:
tu=(1,2,3,5,[10,20],(3,6,9),6,7,"happy",5,3,1,9)
print(tu)

print("The Element 5 is present at index:",tu.index(5))

a=9
print(f"The Element {a} is present at index :",tu.index(a))

#print(tu.index(10))   # Error because element 10 is not present in the tuple

(1, 2, 3, 5, [10, 20], (3, 6, 9), 6, 7, 'happy', 5, 3, 1, 9)
The Element 5 is present at index: 3
The Element 9 is present at index : 12